@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: #f1a1e3;
  --underline-cap-width: 4px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
}

.awssld__timer {
  background-color: var(--chakra-colors-blue-500) !important;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-weight: 400;
  font-size: "14px";
  line-height: 1.4;
  font-style: normal;
  min-width: 100%;

  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.slideUpBtn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid hsl(243, 80%, 62%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn span {
  display: inline-block;
  transition: inherit;
  color: hsl(243, 80%, 62%);
}

.slideUpBtn:hover span {
  opacity: 0;
  transform: translateY(-100%);
}

.slideUpBtn::before {
  content: "";
  background-color: hsl(243, 80%, 62%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: inherit;
  width: 100%;
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn::after {
  content: "SignUp";
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  transform: translateY(100%);
  width: 100%;
}

.slideUpBtn:hover::before {
  transform: translateY(0) scale(3);
  transition-delay: 0.025s;
}

.slideUpBtn:hover::after {
  opacity: 1;
  color: hsl(222, 100%, 95%);
  transform: translateY(0);
}

.borderFade {
  padding-bottom: 1px;
  color: hsl(222, 25%, 14%);
  position: relative;
}

.borderFade::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: hsl(243, 80%, 62%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.borderFade:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: hsl(222, 25%, 14%);
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: pink;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.element {
  width: 40%;
  position: relative;
  height: 700px;
  float: left;
  background-image: url("/banner.jpeg");
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(70% 70% at 90% 50%);
  clip-path: ellipse(70% 70% at 90% 50%);
  -webkit-shape-outside: ellipse(70% 70% at 90% 50%);
  shape-outside: ellipse(70% 70% at 90% 50%);
  -webkit-shape-margin: 2em;
  shape-margin: 2em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
}

editor {
  outline: none;
}

.background {
  background-image: url("/background.svg");
}

Link {
  outline: none;
}

.how {
  background-image: url("/fiv.svg");
}

.test {
  clear: none;
  overflow: hidden;
  position: fixed;
  z-index: 2000;
  visibility: visible;
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.925);
  display: none;
  flex-direction: column;
}

.menu__close__div {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  justify-items: end;
}

.menu__close {
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: flex-end;
  background-color: white;
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
}
.menu__close:hover {
  background-color: var(--chakra-colors-red-400);
  transition: 500ms linear;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  opacity: 0;
  pointer-events: none;
  margin-top: 100px;
}

.menu_list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  list-style: none;
  margin: auto;
  width: 100%;
}

.menu_list_item {
  margin-bottom: 0.8em;
  letter-spacing: 0;
}

.menu_list_link {
  display: block;
  font-size: 3em;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1.2px;
  transition: color 0.3s ease;
  will-change: transform;
  transform: translateZ(0);
}
/* .menu_list_link:hover, .menu_list_link:focus {
  color: var(--chakra-colors-red-400);
} */

.menu_list_link:hover,
.menu_list_link:active {
  letter-spacing: 5px;
}

.menu_list_link:after,
.menu_list_link:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.menu_list_link:hover:after,
.menu_list_link:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.menu_list_link:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* .menu_trigger {
  
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  cursor: pointer;
  will-change: transform;
}
.menu_trigger.close_menu_mod {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-1em);
}
.menu_trigger:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0.75em;
  background-image: linear-gradient(0deg, #ee43bd 0%, #ffd779 100%);
  transform: translateX(-0.7rem);
  will-change: transform;
  content: "";
  transition: all 0.2s ease;
}
.menu_trigger:hover:before, .menu_trigger:focus:before {
  transform: translateX(0);
} */

.menu_trigger {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  margin-left: 20px;

  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.menu_trigger:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.mega__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.menu__detail {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;

  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 15px;
  margin-left: 20px;
  max-width: 120px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
}

.menu__detail:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.app-image-gallery {
  margin: 0 auto;
  width: 65%;
}

.upper__layer__detail {
  overflow: hidden;
  scroll-behavior: none;
}

.detail__page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #f9fafb;
}

.editor {
  line-height: 40px;
  background: transparent;
  position: relative;
  padding-top: 5px;
  z-index: 2;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--chakra-colors-blue-500);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.editor:hover {
  color: #fff;
}
.editor:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--chakra-colors-blue-500);
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 0.3s ease;
}
.editor:hover:after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: right;
}

/* Header */
.content {
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);
  height: 160px; */
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 9px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #000000c0;
  font-size: 20px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 60px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #ffffff;
}

.second {
  background: #ffffff;
  left: 33.3%;
}

.third {
  background: #ffffff;
  left: 66.6%;
}

/* Tabs */

.tabs {
  left: 30%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  padding: 0px 50px;
  width: 30%;
  border-radius: 5px;
  min-width: 750px;
  overflow: hidden;
}

.tabs ul li label {
  color: rgba(5, 5, 5, 0.534);
  font-size: 12px;
}
.tabs ul li label {
  font-size: 13px;
  color: #428bff;
}
.tabs ul {
  list-style-type: none;
  width: 50%;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 12.5%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #eb3349;
  border-radius: 1px;
}
.tab__content {
  padding-right: 10%;
}
.tabs .tab__content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
  padding-left: 13px;
  padding-top: 12px;
  height: 670px;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #eb3349;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .tab__content
  > section:nth-child(4) {
  display: block;
}

.tabs input[name="tab-control"] {
  display: none;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .tab__content
  > section:nth-child(1) {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 0.4fr);
  grid-gap: 20px 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #eb3349;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .tab__content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #eb3349;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .tab__content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #eb3349;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(228, 43, 43, 0.08);
  }
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ .tab__content
    > section:nth-child(1) {
    grid-template-rows: auto auto auto;
  }
  .tabs {
    min-width: 520px;
    width: 100%;
  }
  .tabs ul li {
    width: 100%;
  }
  .tabs ul {
    width: 63%;
  }
  .tabs .slider {
    width: 16%;
  }
}

.shops {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 0.4fr);
  grid-gap: 20px 20px;
}

@media screen and (max-width: 600px) {
  .shops {
    /* grid-template-rows: auto auto auto; */
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   
    align-items: center; 
        justify-content: center;
  }
  .tabs {
    left: 55%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    padding: 0px 50px;
    width: 96%;
    border-radius: 5px;
    overflow: hidden;
    min-width: 520px;
  }
  .tabs .slider {
    width: 15.7%;
  }
}

/* @media screen and (max-width: 420px) {

} */
